<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie app</title>

    <style>
        body { font-family: sans-serif; background: #b5f59d; }
        h1 { color: #333; }
        p { color: #555; }
        a { color: #007aff; }
    </style>
</head>

<body>
    <h1>Hi! It's a RECO! Movie recommendation system</h1>
    <p>This is a home page.</p>
    <p>Test API here: <a href="/api/recommendations">recommendations</a></p>
</body>

<script>
    console.log("Hello from here!");
</script>

</html>